<div class="row">
    {{ include("ISCPlatformBundle:Profil:menu.html.twig") }}
    <div class="col-lg-8">
        <div class="row" style="text-align:center;margin-top:30px;">
            {{ render(controller("ISCPlatformBundle:Call:getFormAddActu", {'lieuDajout': 'Profil', 'username': app.request.get('username')})) }}
        </div>
        <div class="nb_actu" style="display: none;">{{ userNbTotalActivites }}</div>
        <div class="cont_mod_actualites">
            {% if userActivites|length > 0 %}
                {{ include("ISCPlatformBundle:Activites:actuFormat.html.twig") }}
            {% else %}
                <div class="row" style="margin-top:30px;">
                    <div class="alert alert-warning"><strong>Information :</strong> Nous n'avons rien à afficher... Afin de remedier à cela, ajouter une actualité !</div>
                </div>
            {% endif %}
            <div class="loadmore" style="text-align:center;">
                <i class="fa fa-spinner fa-pulse"></i>
            </div>
        </div>
    </div>
</div>
